.bg-video
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .25;
    // eliminate any overflow
    overflow: hidden;

    // Fit video fully into box 
    &__content
    {
        height: 100%;
        width: 100%;
        // like background-size: cover
        object-fit: cover;
    }
}

