.booking
{
    // Solid gradient on top of a background image
    background-image: 
        // Overlying gradient
        linear-gradient(
            /* angled @ 105 degrees */
            105deg, 
            /* white to white from left(0%) to right(50%) and 90% opacity */
            rgba($color-white, .9) 0%, 
            rgba($color-white, .9) 50%,
            /* at 50% transparency */ 
            transparent 50% ),
        /* background image */
        url(../img/nat-10-small.jpg);

        /* Optimize images using css media queries */
        @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em)
        {
            background-image: 
            linear-gradient(
                105deg, 
                rgba($color-white, .9) 0%, 
                rgba($color-white, .9) 50%, 
                transparent 50% ),
            url(../img/nat-10.jpg);
        }
    background-size: cover;
    border-radius: 3px;
    box-shadow: $box-shadow-2;

    @include respond(tab-land)
    {
        background-image:
        linear-gradient(
            105deg,    
            rgba($color-white, .9) 0%, 
            rgba($color-white, .9) 65%,
            transparent 50% ),        
        url(../img/nat-10-small.jpg);

        @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em)
        {
            background-image: 
            linear-gradient(
                105deg, 
                rgba($color-white, .9) 0%, 
                rgba($color-white, .9) 65%, 
                transparent 50% ),
            url(../img/nat-10.jpg);
        }
    }

    @include respond(tab-port)
    {
        background-image:
        linear-gradient(

            105deg, 
            rgba($color-white, .9) 0%, 
            rgba($color-white, .9) 100%,
            transparent 50% ),
        url(../img/nat-10-small.jpg);

        @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em)
        {
            background-image: 
            linear-gradient(
                105deg, 
                rgba($color-white, .9) 0%, 
                rgba($color-white, .9) 100%, 
                transparent 50% ),
            url(../img/nat-10.jpg);
        }
    }
  
    // Set width/padding of form area
    &__form
    {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land)
        {
            h2 
            {
                font-size: $large-font-size;
            }
        }

        @include respond(tab-port)
        {
            width: 75%;
            h2 
            {
                width: 150%;
                font-weight: 900;               
            }
        }        
    }
}