.story
{
    background-color: rgba($color-grey-light-1, .6);
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem (rgba($color-black, .1));
    border-radius: 3px;
    padding: 6rem 6rem 6rem 9rem;

    // Skew the box
    transform: skewX(-12deg);

    @include respond(tab-port)
    {
        width: 100%;
        padding: 4rem 4rem 4rem 7rem;
    }

    @include respond(phone)
    {
        transform: skewX(0);
    }

    &__shape
    {
        width: 15rem;
        height: 15rem;
        float: left;
        
        // Move the  element to the left and unskew the shape
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        // Clip the element at it's boundary (creates a circular area with graceful degradation)      
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) 
        {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }

        @include respond(phone)
        {
            width: 12rem;
            height: 12rem;
            transform: translateX(-5rem) skewX(0);
        }
    }

    &__img
    {
        height: 100%;
        display: block;
        // Move the image and scale it up
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;

        @include respond(phone)
        {
            margin: 0 auto;
            transform: translateX(-3rem);
        }
    }

    &__text
    {
        // Unskew the text
        transform: skewX(12deg);
        @include respond(phone)
        {       
            margin: 0 auto;
            width: 120%;
            transform: translateX(-4rem) skewX(0);
            h3 
            {               
                padding: 1rem;
                font-size: 1.8rem;
                font-weight: 900;
            }
            p 
            {
                text-align: center;
                font-weight: 900;
            }
        }
    }

    &__caption
    {
        position: absolute;
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        // Center caption on image
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        // hide initially
        opacity: 0;
        transition: all .5s;
        // eliminate shaking at end of transition
        backface-visibility: hidden;
    }

    &:hover .story__caption
    {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover .story__img
    {
        transform: translateX(-4rem) scale(1.0);
        filter: blur(3px) brightness(80%);
    }
}
/*
.btn-a
{
    @include respond(phone)
    {
        display: block;
        margin-bottom: 5rem;
        margin-left: 20rem;

    }
}
*/